/*Blur websites:*/
/*https://css-tricks.com/fun-with-blurred-text/*/
/*https://www.w3schools.com/cssref/css3_pr_text-shadow.asp*/
/*https://www.w3schools.com/cssref/sel_hover.asp*/

/*This controls the div containing the profiles.*/
.fill{
margin-top: 10px;
display: flex;
flex-wrap: wrap;
width: 955px;
}

/*This holds the box containing the fill div.*/
.flexy{
  display: flex;
  justify-content: center;
}

/*This controls the appearance of each profile.*/
body{
  justify-content: center;
  text-align: center;
}

/*This makes the name text all uppercase.*/
h3 {
  text-transform: uppercase;
    border-bottom: solid;
    border-width: 2px;
    border-color: #61B489;
}

/*This adds the blur effect.*/
.ssn{
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/*This removes the blur effect via hover.*/
.ssn:hover {
  color: #61B489;
  text-shadow: none;
}

/*This affects the profiles.*/
.oneClass{
margin: 10pt;
}
